version: "3.7"

services:
  postgres:
    image: postgres:alpine
    volumes: 
      - db-data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    expose:
      - 5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=dally-dose

volumes: 
  db-data: